#p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main .pull-left {
    padding-top: 100px;
    padding-left: 20px;
}
h2.lead {
    margin-top: 10px;
}

#footer a {
    color: #fff;
}

.contact-link {
    text-indent: -9999px;
    float: left;
}

.zoom {
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

.zoom:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -240px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 240px;
    color: #fff;
}
#footer {
    background-color: #000;
}

@media (max-width: 992px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #wrap {
        /* Negative indent footer by it's height */
        margin: 0 auto -380px;
    }

    #push,
    #footer {
        height: 380px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-email {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-github {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-googleplus {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-linkedin {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.sprite-xing {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}
