#main .column1 {
    padding-top: 20px;
    padding-left: 20px;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main .column1 {
        padding-top: 100px;
    }
}
h2.lead {
    margin-top: 10px;
}

h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

#footer a {
    color: #fff;
}

ul.contact {
    display: table;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    ul.contact {
        width: inherit;
    }
}
ul.contact li {
    display: table-cell;
}
ul.contact li a {
    margin: 0;
    display: block;
    text-indent: -9999px;
}
ul.contact li:first-child {
    padding-left: o;
}

/*.contact-link {
    text-indent: -9999px;
    float: left;
}

.contact-link:nth-of-type(1) {
    margin-left: -4px;
}*/

.zoom {
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}

.zoom:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -200px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 200px;
    color: #fff;
}
#footer, #footer .container {
    background-color: #333;
}

@media (max-width: 992px) {
    #footer {
        margin-left: -20px;
        padding-left: 20px;
    }

    #wrap {
        /* Negative indent footer by it's height */
        margin: 0 auto -380px;
    }

    #push,
    #footer {
        height: 380px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#main {
    padding-top: 20px;
    padding-bottom: 20px;

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main {
        padding-top: 60px;
    }
}


.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-email {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-github {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-googleplus {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-linkedin {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.sprite-xing {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    .sprite {
        background-image: url(img/spritesheet@2x.png);
        background-size: 126px 84px;
    }
}

#hint-wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#scroll-hint {
    display: none;
    background-color: #f40;
    position: relative;

    border-radius: 50%;
    width: 40px;
    height: 40px; 
    /* width and height can be anything, as long as they're equal */
}


#scroll-hint  span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

