body {
  background-color: #333;
  color: #33b5e5;
  font-family: "RobotoRegular";
}

h1 {
  font-family: "RobotoThin";
  font-size: 3.5em;
  font-weight: lighter;
  padding: 10px 0;
}
h2 {
  font-family: "RobotoThin";
  font-size: 2.5em;
  font-weight: lighter;
  padding: 10px 0;
}

.grey {
  color: #888888;
}
