body {
  background-color: #333;
  color: #33b5e5;
  font-family: "RobotoRegular";
}

h1 {
  font-family: "RobotoThin";
  font-size: 3em;
  font-weight: lighter;
  padding: 10px 0 10px 0;
}

.vorname {
  color: #888888;
}
